@{
    ViewBag.Title = "Contact:";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="well">
    <header>
        <h3>Rafael Fernandes</h3>
    </header>
    <p>
        <span >Skype ID:</span>
        <span>rafael.microsoft</span>
    </p>
    <p>
        <span >e-mail:</span>
        <span>
            <a href="mailto:contact@rafaelfernandes.net">contact@rafaelfernandes.net</a>
        </span>
    </p>
    <p>
        <span >linked-in:</span>
        <span>
            <a href="http://www.linkedin.com/in/rafaelpfernandes">http://www.linkedin.com/in/rafaelpfernandes</a>
        </span>
    </p>
</section>