<div class="container">
    <div class="jumbotron">
        <h1>Hotel Club
        </h1>
        <p class="lead">The best prices for hotels around the world.</p>    
        <div class="online deferred">
            <a class="btn btn-lg btn-primary" href="~/Hotel/">
                <span class="glyphicon glyphicon-star-empty"></span>
                View our hotels
            </a>
            <a class="btn btn-lg btn-success" href="~/Account/RegisterNow">
                <span class="glyphicon glyphicon-ok"></span>
                Become a member
            </a>
            <a class="btn btn-lg btn-info" href="~/Account/RegisterNow">
                <span class="glyphicon glyphicon-tower"></span>
                Become part of our Hotel network
            </a>
        </div>
    </div>

    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="~/About/Author">
                    <span class="glyphicon glyphicon-user"></span>
                    Check information about the Author
                </a>
            </li>
            <li class="list-group-item">
                <a href="~/About/Project">
                    <span class="glyphicon glyphicon-ok-sign"></span>

                    Check information about the Project
                </a>
            </li>
        </ul>
    </div>
    

</div>
