@{
    ViewBag.Title = "Author";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h1 style="padding-bottom: 15px">About the author:
    </h1>
    <div class="row">
        <div class="col-lg-2">
            <a href="http://www.linkedin.com/in/rafaelpfernandes" class="thumbnail" style="width: 100px">
                <img data-src="holder.js/100%x180" src="~/img/RafaelFotoLight.jpg" />
            </a>
        </div>
        <div class="col-lg-10">
            <h2>This project is currently beeing developed by Rafael Fernandes.</h2>
            <h4>Here are some transferrable experiences from his background, which he can use to add value to your team:    
            </h4>
            <ul>
                <li>A passion for technology, technical depth of knowledge and hands-on technical experience. </li>
                <li>Microsoft Certified Professional in Web and Windows Development and Microsoft Certified Technology Specialist.</li>
                <li>12 years of experience in working onsite with large, matrixed enterprises and medium sized customers in the Petroleum, Financial, Entertainment and Retail industries. </li>
                <li>Experience working on large-scale, complex projects involving 20+ countries and multiple languages.</li>
                <li>Exceptional focus, attention to detail and a high degree of professionalism when it comes to project delivery.</li>
                <li>Responsible for end-to-end project delivery of over 11 web and windows based user-friendly applications.   </li>
                <li>Excellent communication and relationship building skills, experience serving as a strategic trusted advisor to clients.</li>
                <li>Consistantly receiving positive feedback from clients and managers regarding technical and communication skills. </li>
                <li>Confident public speaking and training skills, used to share knowledge with team members and customers. </li>
                <li>A dedicated commitment to continuous learning, staying up to date with advancements in technology, on a daily basis. </li>
            </ul>

        </div>


    </div>
</div>


<h2> Recommendations:         </h2>
 
<h4> <span class="glyphicon glyphicon-user"></span> Roberta Norton de Murat Quintella - IT Portfolio Manager at TO Brasil</h4>

<p>Quality, team-worker, perfectionist, quick learning, hardworking, Expertise, Initiative, Creativity, Problem solver. These are some personal and professional characteristics that excellent professional who Rafael is. I recommend.</p>

<small> September 27, 2013, Roberta managed Rafael at TO Brasil</small>

<h4> <span class="glyphicon glyphicon-user"></span> Lucas Marinho - Systems Anylist at TO Brasil</h4>

<p>Rafael Fernandes is a leader with vision, committed and always willing to cooperate with your team, gained prominence leading projects with a high level of innovation, receiving recognition from top management of the company. Rafael Fernandes as reliable brand has the curiosity to always bringing new tools and technologies to the surroundings of his team and it is always prepared to train professionals. His outstanding characteristics are: technical skill, motivation, focus on opportunity, leadership, vision, attitude and with ease in expressing his ideas clearly and objectively this multidisciplinary professional, innovative, with passion for what he does, is certainly recommended by me.</p>

<small>September 25, 2013, Lucas reported to Rafael at TO Brasil</small>

<h4><span class="glyphicon glyphicon-user"></span> Everton Cardoso - Systems Anylist at TO Brasil</h4>

<p>Rafael is an excellent professional, competent senior software engineer, outstanding English fluency, focused, work well in teams, motivating his fellow workers, caring, helping when they needed, always sharing new ideas for software development, bringing great ideas that benefit the work environment. I am proud to have worked with him, and it's certainly an example for me to follow.</p>

<small>September 25, 2013, Everton reported to Rafael at TO Brasil</small>

<h4><span class="glyphicon glyphicon-user"></span> Rodrigo Coube Carvalho - Project Leader in BI/EPM at TO Brasil</h4>

<p>Rafael is an outstanding professional, highly competent, motivated and optimistic, always updated with existing technologies, he is a great team player always providing good ideas that add and bring benefits to all.</p>

<small>September 23, 2013, Rodrigo Coube worked directly with Rafael at TO Brasil</small>

<h4><span class="glyphicon glyphicon-user"></span> Marcelo Guerra Operations Director – TO Brasil</h4>

<p>Rafael is a Senior software engineer, self motivated, knows how to work in a team, helps to maintain a high-spirited team, scientific curiosity and have many new ideas to add to the projects in which he participates.</p>

<small>September 20, 2013, Marcelo managed Rafael at TO Brasil</small>

<h4><span class="glyphicon glyphicon-user"></span> Boris Goldshmit - Senior Database Engineer at Valueline, Inc.  New York, USA</h4>

<p>“Rafael is a seasoned and mature professional with great interpersonal skills and technical expertise.”</p>

<small>October 7, 2010, Boris managed Rafael indirectly at Embrada</small>

<h4><span class="glyphicon glyphicon-user"></span> Hudson Oliveira – Entrepreneur</h4>

<p>“Rafael is an excellent professional and one of the most surprising talents that I have known during my career. 
Really focused and caring his outstanding skills, he can improve the project's performance. 
He learns fast and teaches really well. Objective person that knows how to share his knowledge and is always connected with the new technology trends. His English speaking fluency is one of the most amazing I have heard. I would certainly recommend!”</p>

<small>March 30, 2011, Hudson worked directly with Rafael at TO Brasil</small>

<h4><span class="glyphicon glyphicon-user"></span> Eduardo Câmara  - Consultant at Metheora</h4>

<p>“Rafael is one of those priceless customer-oriented software developers who pays attention not only to processes and tools but to individuals and interactions as well. Rafael is seasoned, talented, hardworker and is always striving for team collaboration in times of stress and pressure.”</p>

<small>October 27, 2012, Eduardo worked directly with Rafael at Embrada</small>

<h4><span class="glyphicon glyphicon-user"></span> Rafael Bravo – CEO at Metheora</h4>

<p>“Rafael's best definition would be "out of the box", that is how he contributed and was an indispensable head in our software development team back in the day. Great person to work with, focused and open-minded.”</p>

<small>November 26, 2012, Rafael worked directly with Rafael at Embrada</small>

<h4><span class="glyphicon glyphicon-user"></span> Anderson Pereira - BI Consultant at CPM Braxis Capgemini</h4>

<p>“I worked with Rafael, he is a great professional and colleague, always willing to help if it was needed. He is creative, hardworking, open-minded, key features for a dedicated software developer.”</p>

<small>November 3, 2012, Anderson worked directly with Rafael at TO Brasil</small>

<h4><span class="glyphicon glyphicon-user"></span> Chester Flake – Consulting</h4>

<p>“Rafael attended an intense training program with my organization. As I meet many individuals - Rafael really stands out. Aside from a great personality - he really made an effort to be a positive addition to the class, participated in every activity and passed very challenging exams. Rafael is passionate about software development and it shows in his actions.”</p>

<small>October 29, 2012, Chester was a consultant to Rafael at Embrada</small>